
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footerDiv {
  background: #073abd;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 25%;
  width: 100%;
  left: 1096px;
  top: 1133px;
  border-radius: 0px; 
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.about-skyline {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.about-name {
  margin: 20px 0px -15px 0px;
  font-size: 1.75em;
  font-weight: bold;
}
.about-details {
  margin: 50px 100px 100px 100px;
}
.about-hr {
  border: 1px solid black;
  margin: 3px -45px
}
